<!doctype html>
<html lang="en">

 <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Clipbored!?</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <!-- Vendor/Normalize CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <!-- Animate CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="/styles/poll-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- Optional JavaScript -->
  <script type="text/javascript" src="/scripts/home.js"></script>
  <script type="text/javascript" src="/scripts/poll-box.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
</head>

<body>

  <nav class="navbar navbar-custom shadow-sm">
    <a href="index.ejs" class="navbar-brand">Clipbored!?</a>
  </nav>

  <!-- BS4 container -->
  <main class="container-flex">
    <!-- main row start -->
      <div class="row justify-content-center">

        <!--1st left col -->
        <div class="col col-md-6">

          <section class="intro-blurb ">
            <h1 class="welcome">Welcome to <span>Clipbored!?</span></h1>
            <p class="blurb">
            What food do we want to get on friday? Sushi, pizza, or burgers? <br>
            This is the place to make quick polls. Enter a question and some options, then we will give you a link to send to your friends. They get to vote by the borda method, and you get an email with the results of the poll. It's dead simple!
            </p>
          </section>

        </div>

        <div class="col col-md-6 justify-content-end">
          <form method="POST" autocomplete="off" class="create rounded shadow">

            <div class="question-wrapper rounded-top">
              <input type="text" class="question" placeholder="Choose your question... ">
            </div>

            <div class="question-options">
              <div class="option-input-wrapper">
                <input type="text" class="option" name="option0" placeholder="Add your first option...">
              </div>
              <input type="text" name="option-description0" class="description-field" placeholder="Optional Description...">

              <div class="option-input-wrapper">
                <input type="text" class="option" name="option1"  placeholder="Add your second option...">
              </div>
              <input type="text" name="option-description1" class="description-field" placeholder="Optional Description...">

            </div>

            <footer class="rounded-bottom">
              <input type="email" class="email" placeholder="Enter your email...">
              <input type="submit" id="manifest-poll" class="btn shadow-sm">
            </footer>

          </form>
        </div>

      </div>


    <!-- BS4 container-flex end -->
  </main>
</body>

</html>
