<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Clipbored!?</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <!-- Vendor/Normalize CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <!-- Animate CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/styles/layout.css"/>
  <link rel="stylesheet" href="/styles/nav.css"/>
  <link rel="stylesheet" href="/styles/results.css"/>
  <link rel="stylesheet" href="/styles/results-box.css"/>
  <link rel="stylesheet" href="/styles/footer.css">

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- Optional JavaScript -->
  <script type="text/javascript" src="/scripts/poll-box.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/rendResults.js"></script>
</head>

<body>

  <nav class="navbar navbar-custom shadow-sm">
    <a href="http://localhost:8080" class="navbar-brand">Clipbored!?</a>
  </nav>
  <!-- BS4 container -->
  <main class="container-flex">
    <!-- main row start -->
    <div class="row justify-content-center">

      <!--1st left col -->
      <div class="col col-md-6">

        <section class="intro-blurb">
          <h1 class="your-results"> Your <span>Clipbored!?</span> poll results!</h1>
          <p class="blurb"> Here's the results of your poll, we hope you had fun. Would you like to <a href="http://localhost:8080">create another?</a>
          </p>
          <p class="poll-info">This is the shareable link to your poll: <a id="poll-link" href="http://www.google.com"></a>
          </p>
        </section>

      </div>

      <!-- 1st right col -->
      <div class="col col-md-6 justify-content-end">
        <section class="results-box rounded shadow">

          <div class="answer-wrapper rounded-top">
            <h2 class="maker-question">Do you like bacon?</h2>
            <!-- <span class="voter-count">Total voters: <strong>14</strong></span> -->
          </div>

          <div id="answer-box" class="question-options-answers">

        </section>
      </div>

    </div>

    <!-- BS4 container-flex end -->
  </main>
  <footer class="footer navbar navbar-custom justify-content-end">
    <span>&#xa9 Three Blind 🐁 ltd site</span>
  </footer>
</body>

</html>
