<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Clipbored!?</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <!-- Vendor/Normalize CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <!-- Animate CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/styles/layout.css"/>
  <link rel="stylesheet" href="/styles/index.css"/>
  <link rel="stylesheet" href="/styles/vote.css"/>
  <link rel="stylesheet" href="/styles/vote-box.css"/>
  <link rel="stylesheet" href="/styles/nav.css"/>
  <link rel="stylesheet" href="/styles/footer.css">


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- Optional JavaScript -->
  <script type="text/javascript" src="/scripts/poll-box.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/vote.js"></script>
</head>

<body>

  <nav class="navbar navbar-custom shadow-sm">
    <a href="http://localhost:8080" class="navbar-brand">Clipbored!?</a>
  </nav>

  <main class="container-flex">
    <div class="row justify-content-center">

      <div class="col col-md-6">

        <section class="intro-blurb ">
          <h1 class="welcome"><span>Time To Vote!</span></h1>
          <p class="blurb">
            Rank your choices in order!
            <br>
            #1 being your first choice!
            <!-- Here's the place to cast your vote on a poll. Consider your options, read the descriptions, then make your choices. We use the borda count system, so you get to rank each option from your most to least favourite. Rank your favourite number one, and your least favourite the highest number (up to five). -->
          </p>
        </section>

      </div>

      <div class="col col-md-6 justify-content-end">
        <section class="vote-box rounded shadow">

          <div class="answer-wrapper rounded-top">
            <h2 class="maker-question"><span></span></h2>
          </div>

          <div class="question-options-answers">
          </div>
          <footer>
            <button class="btn" id="submit-votes">Submit Votes</button>
          </footer>
        </section>
      </div>
    </div>


    <!-- BS4 container-flex end -->
  </main>
  <footer class="bottom">
    <p>&#xa9 Three Blind 🐁 ltd site</p>
  </footer>
</body>

</html>
