@import "layout.scss";

.info-row {
  padding-top: 2em;
  border-top: 1px dashed $teal;
  margin-top: 1.5em;
  .col  {
    margin: .5em 0;
    .card {
      height: 100%;
      color: $indigo;
      background-color: $dust;
      border: none;
      .card-title {
        padding-bottom: .5em;
        border-bottom: 1px solid $teal;
      }
    }
  }
}