@import "layout.scss";

.info-row {
  padding-top: 2em;
  border-top: 1px dashed $teal;
  margin-top: 1.5em;
  .col  {
    margin: .5em 0;
    .card {
      height: 100%;
      color: $indigo;
      background-color: $dust;
      border: none;
      .card-text {
        border-bottom: 1px dotted $teal;
        border-radius: 5px;
      }
  }
  }
}