// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

// Custom Palette (Officana)
// $steal  : rgba(11, 57, 84, 1);
// $turq  : rgb(25, 186, 197);
// $cherry: rgba(193, 41, 46, 1);
$dust  : rgba(245, 241, 237, 1);

body {
  color: $indigo;
  background-color: $teal;
  font: {
    family: 'Montserrat', sans-serif;
    size: 1em;
    weight: 300;
  }
}

h1, h2, h3 {
  font-weight: 500;
}

input {
  padding: .5em;
  width: 100%;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid $teal;
  font-weight: 300;
}

:focus {outline:none;}