// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

// Palette
$dust  : #f5f1ed;
$indigo: #5756a7;
$teal  : #20c997;

body {
  color: $dust;
  background-color: $indigo;
  font: {
    family: 'Montserrat', sans-serif;
    size: 1em;
    weight: 300;
  }
}


h1, h2, h3 {
  font-weight: 500;
}

input {
  padding: .5em;
  width: 100%;
  border: none;
  background-color: inherit;
  font-weight: 300;
}

:focus {
  outline:none;
}

button:focus {
  outline: 0;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: $teal;
  }
}

.hidden {
  display: none;
}

@include media-breakpoint-down(xl) {
  .container-flex {
    margin: 6em;
  }
}

@include media-breakpoint-down(lg) {
  .container-flex {
    margin: 5em;
  }
}

@include media-breakpoint-down(md) {
  .container-flex {
      margin: 4em;
  }
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 1.2;
    .container-flex {
      margin: 1rem;
      .welcome {
        font-size: 2em;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .container-flex {
    margin: .5rem;
  }
}

