// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "layout.scss";

.navbar {
  margin-bottom: 2em;
  .navbar-brand {
    color: lighten($teal, 5%);;
    font-weight: 500;
  }
}

.navbar-custom{
  background-color: lighten($indigo, 5%);
}