@import "layout.scss";

.create {
  margin: 1em auto;
  max-width: 500px;
  color: $indigo;
  background-color: $dust;

  .question-wrapper {
    background-color: $teal;
    padding: 1.5em .5em 1em;

    input {
      width: 100%;
      color: $indigo;
      font-weight: 500;
    }
  }

  .question-options {
    padding: 1rem;
    font-size: .8em;

    .option-input-wrapper {
      display: flex;

      .option {
        color: $indigo;
        padding: .5em;
        width: 100%;
        border-bottom: 1px solid $teal;
      }
    }

    .description-field {
      color: $indigo;
      border-bottom: 1px dotted $teal;
      border-radius: 5px;
    }
  }

  footer {
    padding: 0 1em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    .email {
      width: 60%;
      font-size: small;
      color: $indigo;
      padding: .5rem .5rem;
      border: 1px solid $teal;
      border-radius: 5px;
      margin-top: .5em;
    }

    .btn {
      width: auto;
      color: $dust;
      background-color: $teal;
      border-top: 2px solid transparent;
      border-radius: 5px;
      margin: .5em 0 0 1em;

      &:hover {
        background-color: darken($teal, 5%);
        cursor: pointer;
      }
    }
  }
}
