@import "layout.scss";

.create {
  margin: 0 auto;
  max-width: 500px;
  color: $indigo;
  background-color: $dust;
  .question {
    background-color: $teal;
    padding: 1.5em .5em 1em ;
    input {
      width: 100%;
      color: $indigo;
      font-weight: 500;
    }
  }
  .question-options {
    padding: 1em;
    font-size: .8em;
    // .description-wrapper {
    //   display:flex;
    //   flex-direction: column;
    // }
    .option-input-wrapper {
      display: flex;
      .pencil-btn {
        margin-left: .5em;
        padding: 1px;
        background-color: $dust;
        border: none;
        cursor: pointer;
      }
      .option {
        color: $indigo;
        padding: .5em;
        width: 100%;
        border: none;
        border-bottom: 1px solid $teal;
      }
    }
  }
  footer {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    .email {
      font-size: small;
      padding: .5em;
      color: $indigo;
      border: 1px solid $teal;
      border-radius: 5px;
      padding: 0 .5em;
    }
    .btn {
      margin-left: 1em;
      color: $dust;
      background-color: $teal;
      border-radius: 7px;
      &:hover {
        background-color: darken($teal, 5%);
        cursor: pointer;
      }
    }
  }
}